* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

:root {
    --background-start-rgb: 235, 240, 255;
    --foreground-rgb: 30, 30, 45;
    --primary-rgb: 190, 190, 215;
    --enphasys-rgb: 80, 80, 165;
    --title-rgb: 130, 130, 205;
    --success-rgb: 40, 190, 90;
}

body {
    background: linear-gradient(rgb(var(--background-start-rgb)), rgb(var(--background-start-rgb)));
    min-height: 100vh;
}

.subtitle {
    color: rgb(var(--title-rgb));

}


.title {
    color: rgb(var(--title-rgb));
    margin: 1rem;
    font-size: 3.5rem;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}

.full-height {
    height: 100vh;
    background: linear-gradient(rgba(235, 235, 255, 0.9), rgba(235, 235, 255, 0.7)), url(./assets/images/background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.small-text {
    font-size: 12px;
}


input,
h1,
button {
    font-family: 'Roboto', sans-serif;
}

p {
    color: rgb(var(--foreground-rgb));
    padding: .5rem;
}

b {
    font-weight: 700;
    color: rgb(var(--enphasys-rgb));
}

h1 {
    font-weight: 500;
}

.issues {
    .anticon {
        color: rgb(209, 209, 40) !important;
        font-size: 1.2rem;
    }
}

.topics-list {
    .anticon {
        color: rgb(var(--success-rgb));
        font-size: 1.2rem;
    }

    li {
        font-size: 14px;
    }

    ;
}

.text-centered {
    text-align: center;
}

.pd1 {
    padding: 1rem;
}

.pd2 {
    padding: 2rem;
}

.action-button {
    max-width: fit-content;
    margin: .5rem auto;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    background-color: rgb(var(--success-rgb));
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    padding: 1.5rem;

    &:hover {
        background-color: white !important;
    }

}

.garantia {

    min-width: 200px !important;
    max-width: 260px !important;
}

.page {
    // max-width: 1100px;
    margin: auto;
    font-weight: 600;
}

.max-width {
    max-width: 900px;
    margin: auto;
}

.flex1 {
    flex: 1 !important;
    max-width: 50%;
    min-width: 320px;
}

.flex {
    display: flex !important;

    &.columned {
        flex-direction: column;
    }

    &.aligned-center {
        align-items: center;
    }

    &.justified-center {
        justify-content: center;
    }

    &.gap1 {
        gap: 1rem;
    }

    &.gap2 {
        gap: 2rem;
    }

    &.wrappable {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {

    .full-height {
        justify-content: flex-start;
    }

    .title {
        font-size: 3.5rem;
        line-height: 1.2;
    }


    .page {}

    .action-button {
        font-size: 1rem;
    }
}

img {
    width: 100%;
    max-width: 400px;
}